@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Mali;
    background: url(/assets/css/image/img.jpeg) no-repeat center center fixed;
    background-size: cover;
    color: #023020;
}

/* score section */
#progressText {
    font-size: 20px;
    text-shadow: 5px 5px 8px #023020;
}
.score {
    font-size: 30px;
    padding: 20px;
    text-shadow: 5px 5px 8px #023020;
}

#score-number {
    padding-left: 60px;
    text-shadow: 5px 5px 8px #023020;
}

/* question section */

#question {
    text-align: center;
    font-size: 40px;
}

.choice {
    display: flex;
    width: 80%;
    margin-bottom: 15px;
    margin-left: 120px;
    padding-left: 50px;
    font-size: 40px;
    text-align: center;
    border-radius: 40px;
    box-shadow: 15px 15px 15px 5px gray;
}

.choice:hover {
    cursor: pointer;
    border: 2px solid #6E260E;
    box-shadow: none;

}
.correct {
    background: rgba(46, 204, 113, .5);
}
.incorrect {
    background: rgba(128, 0, 0, .5);
}
/* for sreens size from 700px and down */
@media screen and (max-width: 700px){
#question {
    
    font-size: 30px;
}
#choice {
    font-size: 25px;
    margin-left: 25px;
    float: left;
}}