@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

/* welcome div */
* {

    margin: 0;
    padding: 0;
    font-family: Mali;
    background: url("../images/puzzle.webp") no-repeat center center fixed;
    background-size: cover;
}

#welcome {
    display: block;
    text-align: center;
}

h1 {
    font-size: 40px;
    color: #44f4bb;
    text-shadow: 3px 3px gray;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    font-size: 60px;
    color: #bb44f4;
    text-shadow: 2px 2px #f4447d;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h3 {
    font-size: 30px;
    color: #bb44f4;
    text-shadow: 2px 2px #f4447d;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}

h4 {

    font-size: 40px;
    color: #bb44f4;
    text-shadow: 2px 2px #f4447d;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 15px;

}

#rules {
    color: #f4447d;
    text-shadow: 1px 1px white;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;

}

#user-name {
    color: #44f4bb;
    text-shadow: 2px 2px gray;
    font-size: 30px;
    margin-top: 10px;
}

#name {
    font-size: 30px;
    text-decoration: none;
    color: #f4447d;
    border: 3px solid #bb44f4;
    border-radius: 60px;
    box-shadow: 0 0 15px 10px #bb44f4;
    padding-left: 15px;

}

#go {
    color: #f4447d;
    box-shadow: 0 0 10px 10px #44f4bb;
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
    border: 2px solid #44f4bb;
}

#go:hover {
    border-style: none;
    box-shadow: none;
}

/* quiz-game div*/
#quiz {
    display: none;
}

#timer {
    font-size: 25px;
    color: #bb44f4;
}

#progressText {
    font-size: 20px;
    text-shadow: 5px 5px 8px #023020;
    color: #44f4bb;
    padding: 15px;
    float: left;
}

#progressBar {
    margin: 20px;
}

#current-score {
    font-size: 30px;
    padding: 40px;
    text-shadow: 5px 5px 8px #f4447d;
    color: #bb44f4;
    text-align: center;
    margin-top: 20px;
}

#score-number {
    padding: 15px;
    text-shadow: 2px 2px gray;
    color: #44f4bb;
    font-size: 30px;
    text-align: center;
   
}

/* question section */

#question {
    text-align: center;
    font-size: 40px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 15px;
}

.choice-text {
    display: flex;
    width: 90%;
    margin-bottom: 15px;
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
    text-align: center;
    border-style: none;
    border-radius: 40px;
    box-shadow: 0 0 10px 10px gray;
    color: #f4447d;
    text-shadow: 1px 1px white;

}

.choice-text:hover {
    cursor: pointer;
    box-shadow: none;

}

/* score div */
#score {
    display: none;
}

#number {
    color: #f4447d;
    font-size: 30px;
    margin: 20px;
    text-align: center;
    text-shadow: 2px 2px 2px white;
}

#score {
    text-align: center;
}

#IQ {
    font-size: 30px;
    text-align: center;
    color: #bb44f4;
    text-shadow: 1px 1px white;

}

#number {
    font-size: 60px;
}

#start_btn {
    font-size: 30px;
    margin-left: 15px;
    box-shadow: 0 0 15px 15px #f4447d;
    color: #bb44f4;
    text-shadow: 2px 2px #f4447d;
    margin-top: 30px;
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #f4447d;

}

#start_btn:hover {
    box-shadow: none;
    border-style: none;

}

/* media queries */
/* for sreens size from 950px and down */
@media screen and (max-width: 950px) {
    h1 {
        font-size: 50px;
    }
}


/* for sreens size from 700px and down */
@media screen and (max-width: 700px) {
    #question {

        font-size: 30px;
    }

    #next {
        margin-left: 20px;
    }

    .choice-text {
        font-size: 25px;
        margin-left: 20px;
        float: left;
        width: 70%;
    }

    /* for sreens size from 600px and down */
    @media screen and (max-width: 600px) {
        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 40px;
        }

        h3 {
            font-size: 30px;
        }
    }
}

/* for sreens size from 400px and down */
@media screen and (max-width: 400px) {
    #username {
        font-size: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }

    #go {
        font-size: 30px;
    }

    h1 {
        font-size: 30px;
        margin-left: 15px;
        margin-right: 15px;
        text-shadow: 1px 1px gray;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
        margin-left: 15px;
        margin-right: 15px;

    }

    h4 {
        font-size: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }
#score-number {
    text-align: left;
    font-size: 30px;
}
#current-score {
    text-align: left;
    margin-top: 20px;
}
    .choice-text {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 50px;
        float: left;
        width: 70%;
    }

    #start_btn {
        font-size: 20px;
        margin-left: 15px;
        margin-right: 15px;
        text-shadow: none;
    }
}